<ul>
    <strong>게시글 작성자: <a href="{% url 'accounts:people' post.user.username %}">{{ post.user.username }}</strong></a>
    <li> 
        <a href="{% url 'posts:detail' post.id %}">{{ post.id }}</a> - {{ post.content }} <br> 
        <strong>생성일자</strong>: {{post.created_at }} | <strong>수정일자</strong>: {{ post.updated_at }}
    </li>
  
    <a href="{% url 'posts:like' post.id %}">
        {% if user in post.like_users.all %}
        <!-- 좋아요 취소 -->
        <i class="fas fa-heart"></i>
        {% else %}
        <!-- 좋아요 -->
        <i class="far fa-heart"></i>
        {% endif %}
    </a>
    {{ post.like_users.count }} 명이 좋아합니다.
</ul>   
<ul>
{% for comment in post.comment_set.all %}
    <li>
    <strong>{{ comment.user }}</strong> | {{ comment.content }}
    {% if comment.user == user %}
        <a href="{% url 'posts:comment_delete' post.id comment.id %}">댓글 삭제</a>
        <a href="{% url 'posts:comment_update' post.id comment.id %}">댓글 수정</a>
    {% endif %}
    </li>
{% endfor %}
</ul>
<hr>

{% if user.is_authenticated %}
<form action="{% url 'posts:comment_create' post.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit", value="submit">
</form>
{% endif %}
